<link rel="stylesheet" types="text.css" href="/css/normalize.css">
<link rel="stylesheet" types="text.css" href="/css/skeleton.css">
<link rel="stylesheet" types="text.css" href="/css/stylesheet.css">



<div class="full-photo">






	<img class="photo-full" src="<%- photo.getPreviewSrc() %>"/>

	<% if (photo.userId === args.id) { %>

		<a class="delete-button button" name="delete" data-photoid="<%- photo.get("id") %>">REMOVE PHOTO</a>
	<% } %>

	<form id = "btn like" method= "POST" action= "/photo/like/<%- photo.get("id") %>">
	<input name="photoid" type="hidden" value="<%- photo.get("id") %>"/>
	<button class = "photo-like">
	<span class= "likes fa fa-heart"> <%- likes %></span>
</button>
	</form>





<p class=  "photo-description"> <%- photo.get("description") %></p>

</div>

<div class="commentcontainer">
	<a href = "/photo/comment/<%- photo.get("id") %>"><button class="comment">Comment</button></a>

	<% if (comments && comments.length) { %>
	 <% for (let i = 0; i < comments.length; i++) { %>
		 <div class="comments-comment">
		 	<b><font color="#4fabc9"><%= args.username %> says:</font></b>
			 <div class="comments-comment-text">
				 <%- comments[i].get("text") %>
			 </div>
		 </div>
	 <% } %>
 <% } else { %>
	 <p class="comments-empty">No comments here!</p>
 <% } %>
</div>
<script src="/js/delete.js"></script>
