<div class="full-photo">


	<img class="photo-full" src="<%- photo.getPreviewSrc() %>"/>

	<button class = "photo-like" data-photoId = "<%- photo.get("id") %>">
		X
	<button>
	<a href = "/photo/comment/<%- photo.get("id") %>">Comment</a>

<p class=  "photo-description"> <%- photo.get("description") %></p>


<% if (comments && comments.length) { %>
	 <% for (let i = 0; i < comments.length; i++) { %>
		 <div class="comments-comment">
			 <div class="comments-comment-text">
				 <%- comments[i].get("text") %>
			 </div>
		 </div>
	 <% } %>
 <% } else { %>
	 <p class="comments-empty">No comments here!</p>
 <% } %>



</div>
