<div class="full-photo">


	<img class="photo-full" src="<%- photo.getPreviewSrc() %>"/>
	<form class= "photo-like" method= "POST" action= "/photo/like/<%- photo.get("id") %>">
	<input name="photoid" type="hidden" value="<%- photo.get("id") %>"/>
	<button class = "photo-like">X</button>
	</form>

	<a href = "/photo/comment/<%- photo.get("id") %>">Comment</a>

	<% for (let i = 0; i < like.length; i++) { %>
		<div class="like">
				<img class = "likes" src= "/app-images/polaroid.jpg"/>
			</div>
	<% } %>



<p class=  "photo-description"> <%- photo.get("description") %></p>

	<% if (comments && comments.length) { %>
	 <% for (let i = 0; i < comments.length; i++) { %>
		 <div class="comments-comment">
			 <div class="comments-comment-text">
				 <%- comments[i].get("text") %>
			 </div>
		 </div>
	 <% } %>
 <% } else { %>
	 <p class="comments-empty">No comments here!</p>
 <% } %>
	</div>
