<link rel="stylesheet" types="text.css" href="/css/normalize.css">
<link rel="stylesheet" types="text.css" href="/css/skeleton.css">
<link rel="stylesheet" types="text.css" href="/css/stylesheet.css">




<div class="full-photo">


	<img class="photo-full" src="<%- photo.getPreviewSrc() %>"/>
	<form id = "btn like" method= "POST" action= "/photo/like/<%- photo.get("id") %>">
	<input name="photoid" type="hidden" value="<%- photo.get("id") %>"/>
	<button class = "photo-like">Like</button>
	</form>

	<a class="delete-button button" name="delete" data-photoid="<%- photo.get("id") %>">DELETE</a>

	<a href = "/photo/comment/<%- photo.get("id") %>">Comment</a>

	<p class= "likes"><%- likes %></p>


<p class=  "photo-description"> <%- photo.get("description") %></p>



	<% if (comments && comments.length) { %>
	 <% for (let i = 0; i < comments.length; i++) { %>
		 <div class="comments-comment">
		 	<b><font color="blue"><%= args.username %></font></b>
			 <div class="comments-comment-text">
				 <%- comments[i].get("text") %>
			 </div>
		 </div>
	 <% } %>
 <% } else { %>
	 <p class="comments-empty">No comments here!</p>
 <% } %>
	</div>
<script src="/js/delete.js"></script>
