<link rel="stylesheet" types="text.css" href="/css/normalize.css">
<link rel="stylesheet" types="text.css" href="/css/skeleton.css">
<link rel="stylesheet" types="text.css" href="/css/stylesheet.css">



<div class="full-photo">


	<img class="photo-full" src="<%- photo.getPreviewSrc() %>"></img>

			<p class=  "photo-description"> <%- photo.get("description") %></p>

</div>

<div class = "userexp">
		<% if (photo.userId === args.id) { %>

			<button class="delete-button button" name="delete"
				data-photoid="<%- photo.get("id") %>">
					REMOVE PHOTO</button>

		<% } %>

			<form id = "btn like" method= "POST" action= "/photo/like/<%- photo.get("id") %>">
				<input name="photoid" type="hidden" value="<%- photo.get("id") %>"/>
					<button class = "photo-like">
					<span class= "likes fa fa-heart"> <%- likes %></span>
					</button>
			</form>

			<a href = "/photo/comment/<%- photo.get("id") %>"><button class="comment">Comment</button></a>
</div>





<div class ="username"><%= args.username %> says:</div

	<% if (comments && comments.length) { %>
	 <% for (let i = 0; i < comments.length; i++) { %>
		 <div class="comments-comment">
			 <div class="comments-comment-text">
				 <%- comments[i].get("text") %>
			 </div>
		 </div>
	 <% } %>
 <% } else { %>
	 <p class="comments-empty">No comments here!</p>
 <% } %>

<script src="/js/delete.js"></script>
